.offer__card-wrapper {
  display: flex;
  justify-content: center;
}

.offer__bookmark-icon--checked,
.place-card__bookmark-icon--checked {
  stroke: #4481c3;
  fill: #4481c3;

  &:hover {
    fill: #f5f5f5;
  }
};
