.header__nav-link:hover {
  .tooltip {
    display: block;
  }
}

.header__logo,
.footer__logo {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
}

.header__favorite-count {
  transition: background 0.3s;

  &:hover {
    background: #2571c3;
  }
}

.header__nav-link {
  cursor: pointer;
}

.user__link {
 display: inherit;
}
